*{
	padding:0px;
	margin: 0px;
   background-image: url(../image/bj.png); 
    background-repeat: no-repeat;
}

#titlediv{
	background-image: url(../image/header.png);
	width: 175px;
	height: 50px;
	text-align: center;
	padding: 5px;
    background-repeat: no-repeat;
    margin-top: 4px;
}


.green{
    background-image: url(../image/lvbiaoti.png);
    width: 200px;
	height: 50px;
	text-align: center;
	background-repeat: no-repeat;
	
	margin-left: 20px;
}
ul li{
	width: 200px;
	margin-left: 20px;
	height: 60px;
	
	background-image: url(../image/baibiaoti.png);
	background-repeat: no-repeat;
	
	list-style-type: none;
	text-align: center;
    


